$color-primary: #0a655e;
$color-secondary: #d1b352;
$color-white: #fff;
$color-dark: #2e3838;
$color-dark: #2e3838;
$color-light-green: #f1f5f5;
$color-gray: #6e8484;
$color-light-gray: rgba(46, 56, 56, 0.15);
$color-dark-green: #025c55;

$tabletSize: 992px;
$desktopSize: 1200px;
$mobileSize: 768px;

$transition-duration: 500ms;
