.header {
  padding: 27px 0 19px;

  &__content {
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;

    @include onDesktop {
      max-width: 960px;
    }

    @include onTablet {
      max-width: 800px;
    }

    @include onMobile {
      max-width: 540px;
    }
  }

  &__logo img {
    max-width: 100%;

    @include onTablet {
      max-width: 140px;
    }

    @include onMobile {
      max-width: 110px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include onTablet {
      flex-grow: 1;
      gap: 30px;
    }

    @include onMobile {
      gap: 0;
    }
  }

  &__search-button {
    @extend %header-icons;
    background-image: url(../images/magnifying-glass.svg);
    margin-right: 3px;
    background-color: $color-primary;
    border: none;
    cursor: pointer;
  }

  &__login-link {
    @extend %header-icons;
    background-image: url(../images/user.svg);
    margin-right: 3px;
  }

  &__basket-link {
    @extend %header-icons;
    background-image: url(../images/backet.svg);
  }

  &__hamburger {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__toggler {
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: inherit;

    border: none;
    outline: none;
    cursor: pointer;

    &:focus {
      border: 1px solid $color-primary;
    }

    @include onMobile {
      margin-left: 10px;
    }
  }

  &__toggler-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-primary;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
