.main {
  background-color: $color-primary;
  background-image: url(./../images/background-image-r.svg);
  background-repeat: no-repeat;
  background-position: 100px -70px;
  max-height: 360px;

  @include onMobile {
    max-height: min-content;
  }

  &__content {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;

    @include onDesktop {
      max-width: 960px;
    }

    @include onTablet {
      max-width: 800px;
    }

    @include onMobile {
      max-width: 540px;
    }
  }

  &__about {
    max-width: 562px;
    padding-top: 63px;
    padding-bottom: 20px;

    @include onTablet {
      max-width: 450px;
      padding-top: 20px;
    }

    @include onMobile {
      max-width: 100%;
    }
  }

  &__title {
    @extend %h1;
    padding-bottom: 32px;

    @include onTablet {
      padding-bottom: 20px;
    }
  }

  &__subtitle {
    @extend %h4;
    padding-bottom: 22px;
  }

  &__text {
    @extend %text;
  }

  &__picture {
    flex-shrink: 1;

    @include onMobile {
      display: none;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}
